*{
    margin: 0;
}

#title {
    text-align: center;
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
}

#title_banner {
    background: #D9EBFF;
    padding: 5vw 5vw 5vw 10vw;
}

#spinner {
    background: #D3D3D3;
    padding: 1vw 1vw 1vw 1vw;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

#spinner #down_arrow {
    width: 1.7vw;
    height: 1.7vw;
}

#master_restaurant_list:nth-child(4) {
    background-color: gray;
}  
#master_restaurant_list {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    border-collapse: collapse;
}
#master_restaurant_list td,  #master_restaurant_list tr{
    padding: 1vw;
}

#master_restaurant_list th, #master_restaurant_list td {
    border-bottom: 1px solid #ddd;
}

#master_restaurant_list button {
    border: none;
    border-radius: 0.75em;
    font-weight: bold;
    background-color: #D9EBFF;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5vw;
    width: 10vw;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}